---
import { Masonry } from 'astro-masonry'

import Layout from '~/layouts/Layout.astro'
import Entry, { type IEntry } from '~/components/Entry.astro'

import * as JSFiddleThree from '../jsfiddle/three'
import * as JSFiddleThreePBR from '../jsfiddle/three-physical'
import * as JSFiddleThreeVRM from '../jsfiddle/three-vrm'
import * as JSFiddleThreeShader from '../jsfiddle/three-shader'
import EntrySection from '~/components/EntrySection.astro'

const ENTRIES_2D: Array<IEntry> = [
	{
		title: 'React',
		custom: { href: 'https://stackblitz.com/https://github.com/mattrossman/react-vite-ts', image: '/logos/stackblitz.svg' },
	},
	{
		title: 'React',
		custom: { href: 'https://github.com/mattrossman/react-vite-ts', image: '/logos/github.svg' },
	},
]

const ENTRIES_3D: Array<IEntry> = [
	{ title: 'Three.js Minimal', jsfiddle: JSFiddleThree },
	{ title: 'Three.js PBR', jsfiddle: JSFiddleThreePBR },
	{ title: 'Three.js VRM', jsfiddle: JSFiddleThreeVRM },
	{ title: 'Three.js Shader', jsfiddle: JSFiddleThreeShader },
	{
		title: 'R3F',
		custom: { href: 'https://stackblitz.com/https://github.com/mattrossman/r3f-vite-ts', image: '/logos/stackblitz.svg' },
	},
	{
		title: 'R3F',
		custom: { href: 'https://github.com/mattrossman/r3f-vite-ts', image: '/logos/github.svg' },
	},
]

const ENTRIES_NODE: Array<IEntry> = [
	// { title: 'TSX', custom: { href: 'https://stackblitz.com/https://github.com/mattrossman/node-starter', image: '/logos/stackblitz.svg' } },
	{ title: 'Node', custom: { href: 'https://github.com/mattrossman/node-starter', image: '/logos/github.svg' } },
	{ title: 'Node + Effect', custom: { href: 'https://github.com/mattrossman/effect-starter', image: '/logos/github.svg' } },
]

const ENTRIES_PLAYGROUND: Array<IEntry> = [
	{ title: 'Blank', tsplayground: '' },
	{ title: 'Effect', custom: { href: 'https://effect.website/play', image: '/logos/effect.png' } },
	{ title: 'Tailwind CSS', custom: { href: 'https://play.tailwindcss.com/', image: '/logos/tailwind.svg' } },
]

const ENTRIES_DEPLOY: Array<IEntry> = [
	{ title: 'GitHub Pages', custom: { href: 'https://github.com/mattrossman/deploy-gh-pages', image: '/logos/github.svg' } },
]
---

<Layout title="New Project">
	<main class="px-6 py-3">
		<h1 class="font-mono text-xl mix-blend-overlay"><b>hey matt,</b><br /><small>what would you like to create?</small></h1>
		<Masonry
			class="mt-8 gap-4"
			columnClass="gap-4 flex flex-col"
			breakpointCols={{
				default: 4,
				1100: 3,
				700: 2,
				500: 1,
			}}
			sortByHeight
		>
			<EntrySection title="2D" emoji="ðŸ–¥ï¸" entries={ENTRIES_2D} />
			<EntrySection title="3D" emoji="ðŸŽ¨" entries={ENTRIES_3D} />
			<EntrySection title="Backend" emoji="âš™ï¸" entries={ENTRIES_NODE} />
			<EntrySection title="Playground" emoji="ðŸ§ª" entries={ENTRIES_PLAYGROUND} />
			<EntrySection title="Deploy" emoji="ðŸš€" entries={ENTRIES_DEPLOY} />
		</Masonry>
	</main>
</Layout>
